body{
    font-family: Arial, sans-serif;
    font-size: 14px;

}
.orders_flex{
    display: flex;
    justify-content: space-between;
}
.account-main {
    max-width: 1100px;
    padding: 14px 18px 18px;
    margin: 0 auto;
}
.account-head {
    font-size: 28px;
    line-height: 36px;
    text-rendering: optimizeLegibility;
    padding:0;
    margin: 0;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.account-boxes {
    display: flex;
    flex-wrap: wrap;
}
.account-box {
    margin: 10px;
    display: flex;
    border-radius: 8px;
    border: 1px #D5D9D9 solid;
    width: 333px;
    box-sizing: border-box;
    background-color: #fff;
    flex-wrap: nowrap;
    padding: 20px 25px;
}
.account-image {
    vertical-align: top;    
    max-width: 100%;
    border: 0;
    width: max-content;
}
.account-text{
    margin-left: 5px;
}
.account-text-head
{
    color: #111;
    font-size: 17px;
    font-weight: 400!important;
    line-height: 36px;
}
.account-text-desc {
    line-height: 20px;
    color : #565959;
}
.account-text-head-1 {
    color: #111;
    font-size: 17px;
    font-weight: 700!important;
    line-height: 36px;
    margin-bottom: 5px;

}
.address_css input{
    position: relative;
    width: 22%;
    padding-bottom: 9%;
    padding-top: 9%;
    text-align: center;
}
.display{
    display: flex;
}
.account-text-link {
    line-height: 20px;
    display: block;
}
.account-text-link > div > a {
    text-decoration: none;
}