@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
img {
    height: 45px;
    margin-top: 4px;
    margin-bottom: 10px;
}
.whole,.signup {
    text-align: center;
    margin: 0;
    padding: 0;
}
.img_solve{
    width: 70%;
    height: auto;
}
.solve{
    text-align: center;
}
.continue {
    height: 30px;
    width: 100%;
    background-color: rgb(243, 171, 26);
    border: 1px solid orangered;
    margin: 5px 0;
    padding: 0;
    border-radius: 2px;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
li{
    list-style: none;
}
hr{
    border: 1px solid rgb(170, 170, 170);
}
.create{
    width: 27.5%;
    padding:  0 30px ;
    height: 30px;
    background-color: rgb(233, 227, 227);
    border: 1px solid gray;
    margin-bottom: 20px;
    border-radius: 5px;
}
ul{
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: auto;
    padding: 0;
}
.inputs{
    margin-top: 5px;
    width: 24%;
    margin: auto;
    border: 0.5px solid rgb(197, 195, 195);
    border-radius: 2px;
    text-align: left;
    padding:  0 20px ;
    padding-bottom: 30px;
}
.caption{
    margin-top: 0;
}
.far{
    display: flex;
    justify-content: space-between;
}
label{
    font-weight:  bold;
    font-size: smaller;
}
.email,.name,.number,.password,.OTP{
    margin: 5px 0;
    width: 97.2%;
    height: 22px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 2px;
    padding-left: 5px ;
}
.code{
    margin: 5px 0;
    height: 26.5px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 2px;
    padding-left: 5px ;
    background-color: rgb(233, 227, 227);;
}
.number{
    margin-left: 15px;
}
.mobile{
    display: flex;
}
.below{
    margin-top: 25px;
}
h5{
    font-weight: 500;
}
Link{
    color: blue;
    text-decoration: none;
}